<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaituo.comparison.back.core.mapper.event.DoorMapper">
    <select id="getPidById" resultType="String">

        select id from T_DOOR
            where parent_id='0'
            start with id=#{id}
            connect by prior parent_id=id
    </select>

    <select id="getAuthDoor" resultType="com.kaituo.comparison.back.core.entity.event.Door">
       select * from t_door t1 where exists ( select * from t_door t2
       where t1.parent_id=t2.id and t2.areaId= #{areaId}
      <if test='unitNo!="0"'>
       and t2.unitNo =#{unitNo}
      </if >
      )

    </select>


</mapper>